.count-section {
    box-shadow: 0px 2px 6px 0px #00000020;
    border-radius: 6px;
    .router-link,
    .router-link * {
        cursor: pointer;
        user-select: none;
    }
}

label {
    font-size: 16px;
    font-family: 'Open Sans SB';
    margin-bottom: 0;
    .material-icons {
        font-size: 21px;
        vertical-align: text-top;
    }
}