<div class="blocks">
    <div class="row mx-0">
        <div class="col-md-5 px-0">
            <div style="width: 220px;">
                <label class="mr-2">Choose Date</label>
                <div (click)="picker1.open()">
                    <input class="form-control" [matDatepicker]="picker1" placeholder="Choose Date">
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
            </div>
            <h6 class="mb-0 py-2 mt-3"><span>Total Rooms :</span> 20</h6>
        </div>
        <div class="col-md-7 d-flex justify-content-md-end px-0">
            <div class="blockall">
                <h6 class="mb-2"><span>Block all rooms</span></h6>
                <div class="d-flex align-items-center">
                    <mat-slide-toggle></mat-slide-toggle>
                    <div class="ml-3">
                        <div class="form-control" (click)="picker22.open()">
                            <mat-date-range-input [rangePicker]="picker22">
                                <input matStartDate placeholder="From" readonly style="cursor: pointer;">
                                <input matEndDate placeholder="To" readonly style="cursor: pointer;">
                            </mat-date-range-input>
                        </div>
                        <mat-date-range-picker #picker22></mat-date-range-picker>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="sect mt-3">
    <!-- head -->
    <div class="tabl">
        <div class="head" style="min-width: 65px;">
            <h6 class="mb-0">No.</h6>
        </div>
        <div class="head" style="min-width: 200px;">
            <h6 class="mb-0">Type</h6>
        </div>
        <div class="head px-3" style="min-width: 310px;">
            <h6 class="mb-0">Block Rooms</h6>
        </div>
        <div class="head" style="min-width: 200px;flex-grow: 1;">
            <h6 class="mb-0">Status</h6>
        </div>
        <div class="head" style="min-width: 200px;">
            <h6 class="mb-0">Guest</h6>
        </div>
    </div>
    <!-- head close -->

    <div class="tabl">
        <div class="roo">
            <h6 class="mb-0">1005 C</h6>
        </div>
        <div class="typ">
            <h6 class="mb-0">Regular Room</h6>
        </div>
        <div class="stat px-3">
            <mat-slide-toggle></mat-slide-toggle>
            <div class="ml-3">
                <div class="form-control" (click)="picker23.open()">
                    <mat-date-range-input [rangePicker]="picker23">
                        <input matStartDate placeholder="From" readonly style="cursor: pointer;">
                        <input matEndDate placeholder="To" readonly style="cursor: pointer;">
                    </mat-date-range-input>
                </div>
                <mat-date-range-picker #picker23></mat-date-range-picker>
            </div>
        </div>
        <div class="availablit bg-success">
            <h6 class="mb-0 text-white">Available</h6>
        </div>
        <div class="gues">
            <h6 class="mb-0">-</h6>
        </div>
    </div>
    <div class="tabl">
        <div class="roo">
            <h6 class="mb-0">1005 C</h6>
        </div>
        <div class="typ">
            <h6 class="mb-0">Regular Room</h6>
        </div>
        <div class="stat px-3">
            <!-- <mat-slide-toggle></mat-slide-toggle>
            <div class="ml-3">
                <div class="form-control" (click)="picker22.open()">
                    <mat-date-range-input [rangePicker]="picker22">
                        <input matStartDate placeholder="From" readonly style="cursor: pointer;">
                        <input matEndDate placeholder="To" readonly style="cursor: pointer;">
                    </mat-date-range-input>
                </div>
                <mat-date-range-picker #picker22></mat-date-range-picker>
            </div> -->
        </div>
        <div class="availablit bg-danger">
            <h6 class="mb-0 text-white">Reserved</h6>
        </div>
        <div class="gues">
            <h6 class="mb-0">John Henderson</h6>
        </div>
    </div>
    <div class="tabl">
        <div class="roo">
            <h6 class="mb-0">1005 C</h6>
        </div>
        <div class="typ">
            <h6 class="mb-0">Regular Room</h6>
        </div>
        <div class="stat px-3">
            <mat-slide-toggle></mat-slide-toggle>
            <div class="ml-3">
                <div class="form-control" (click)="picker22.open()">
                    <mat-date-range-input [rangePicker]="picker22">
                        <input matStartDate placeholder="From" readonly style="cursor: pointer;">
                        <input matEndDate placeholder="To" readonly style="cursor: pointer;">
                    </mat-date-range-input>
                </div>
                <mat-date-range-picker #picker22></mat-date-range-picker>
            </div>
        </div>
        <div class="availablit bg-warning">
            <h6 class="mb-0 text-white">Maintainence</h6>
        </div>
        <div class="gues">
            <h6 class="mb-0">-</h6>
        </div>
    </div>
    <div class="tabl">
        <div class="roo">
            <h6 class="mb-0">1005 C</h6>
        </div>
        <div class="typ">
            <h6 class="mb-0">Regular Room</h6>
        </div>
        <div class="stat px-3">
            <mat-slide-toggle></mat-slide-toggle>
            <div class="ml-3">
                <div class="form-control" (click)="picker22.open()">
                    <mat-date-range-input [rangePicker]="picker22">
                        <input matStartDate placeholder="From" readonly style="cursor: pointer;">
                        <input matEndDate placeholder="To" readonly style="cursor: pointer;">
                    </mat-date-range-input>
                </div>
                <mat-date-range-picker #picker22></mat-date-range-picker>
            </div>
        </div>
        <div class="availablit bg-secondary">
            <h6 class="mb-0 text-white">Other</h6>
        </div>
        <div class="gues">
            <h6 class="mb-0">-</h6>
        </div>
    </div>
</section>