<section>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="box text-danger p-3">
                <div>
                    <div class="filterfont icn">a</div>
                    <div class="name">Hotels & Resorts</div>
                </div>
                <div class="count d-flex align-items-center justify-content-end">
                    <div class="vendor">
                        <div class="nos">160</div>
                        <div class="cap">Vendors</div>
                    </div>
                </div>
                <div class="notify">10</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box text-info p-3">
                <div>
                    <div class="filterfont icn">b</div>
                    <div class="name">Places</div>
                </div>
                <div class="count d-flex align-items-center justify-content-end">
                    <div class="vendor">
                        <div class="nos">160</div>
                        <div class="cap">Vendors</div>
                    </div>
                </div>
                <div class="notify">10</div>
            </div>
        </div>
    </div>
</section>