<div class="membership" *ngIf="!vendor">
    <h3><strong>Membership</strong></h3>
    <p>Please select a vendor from <strong><a routerLink="/listing">Manage Listing</a></strong> or <strong><a routerLink="/pending">Pending Requests</a></strong></p>
</div>

<ng-container *ngIf="vendor && membership">
    <div class="header">
        <small class="m-0">Selected Vendor</small>
        <h6><strong>{{vendor.vendor_name}}</strong></h6>
    </div>
    <mat-tab-group>
        <mat-tab label="Membership">
            <form #memberShip="ngForm" (ngSubmit)="membershipDetails(memberShip)">
                <div class="box my-3 mx-2">
                    <div class="head p-3">
                        <h6 class="mb-0">Manage Membership Category</h6>
                    </div>
                    <div class="body px-3">
                        <div class="row">
                            <div class="col-md-6 p-3">
                                <!-- <div class="searchbox mb-3">
                                    <label>Choose Client</label>
                                    <div class="d-flex">
                                        <vendor-search (vendor)="selectVendor($event)" class="mr-3 flex-grow-1"></vendor-search>
                                        <button class="btn btn-dark" style="white-space: nowrap;" routerLink="/membership/add-vendor">Add New</button>
                                    </div>
                                </div> -->
                                <div class="textur mb-3">
                                    <label>Database Status</label>
                                    <select class="form-control" name="is_active" [ngModel]="membership.is_active">
                                        <option [value]="true">Active</option>
                                        <option [value]="false">Inactive</option>
                                    </select>
                                </div>
                                <div class="textur mb-3">
                                    <label>Approved Category</label>
                                    <category-select (category)="category = $event.target.value" [value]="membership.category_id" required></category-select>
                                </div>
                                <div class="textur" *ngIf="membership">
                                    <label>Membership Contract Period</label>
                                    <!-- <app-date-range #dateRange [show-value]="true" (date)="membershipDate = $event" [date-input]="membershipContractPeriod"></app-date-range> -->
                                    <input *ngIf="!displayval" type="text" class="form-control" placeholder="Date Range" (click)="displayVal = !displayVal">
                                    <div *ngIf="displayval" class="form-control" (click)="picker.open()">
                                        <mat-date-range-input [rangePicker]="picker" [formGroup]="membership_date_range">
                                            <input matStartDate placeholder="From" style="cursor: pointer;" formControlName="start">
                                            <input matEndDate placeholder="To" style="cursor: pointer;" formControlName="end" (dateChange)="selectedDate()">
                                        </mat-date-range-input>
                                    </div>
                                    <mat-date-range-picker #picker ></mat-date-range-picker>
                                </div>
                            </div>
                            <div class="col-md-6 p-3">
                                <div class="textur mb-3">
                                    <label>Membership Approval</label>
                                    <select class="form-control" name="is_approved" [ngModel]="membership.is_approved">
                                        <option [value]="true">Approved</option>
                                        <option [value]="false">Deactivated</option>
                                    </select>
                                </div>
                                <div class="textur mb-3">
                                    <label>Toorso Verified Status</label>
                                    <select class="form-control" name="is_verified" [ngModel]="membership.is_verified">
                                        <option [value]="false">Not Verified</option>
                                        <option [value]="true">Verified</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="textur mb-3">
                                            <label>Membership Category</label>
                                            <select class="form-control" name="membership_type" [ngModel]="membership.membership_type">
                                                <option value="free">Free</option>
                                                <option value="premium">Premium</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="textur mb-3">
                                            <label>Membership Amount</label>
                                            <input type="text" class="form-control" name="membership_amount" [ngModel]="membership.membership_amount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="textur mb-3">
                                    <label>Approved Subcategories</label>
                                    <div class="d-flex mb-2">
                                        <div class="d-flex mr-2 align-items-center sub-category-option" *ngFor="let c of categories;let i = index">
                                            <label class="m-0" [for]="'sub_category_id_' + i">{{c.category_name}} &nbsp;</label>
                                            <input type="checkbox" [checked]="c.checked" [name]="'sub_cat_' + i" [id]="'sub_category_id_' + i" [value]="c.category_name" (change)="selectSubCategory($event)">
                                        </div>
                                    </div>
                                    <!-- <div class="d-flex mb-2">
                                        <select name="sub_cat" [(ngModel)]="subCategories" placeholder="Select Subcategory" class="form-control" multiple>
                                            <option selected disabled>Press Ctrl to multiple select</option>
                                            <option [value]="c.category_name" *ngFor="let c of categories">{{c.category_name}}</option>
                                        </select>
                                    </div> -->
                                    <!-- <div class="d-flex mb-2">
                                        <input type="text" class="form-control mr-2" name="sub_cat" [(ngModel)]="subCategories">
                                        <button class="btn btn-dark" type="button" (click)="sub_categories.push(subCategories);subCategories = ''">Add</button>
                                    </div>
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let c of sub_categories;let i = index">{{c}}
                                            <mat-icon matChipRemove (click)="sub_categories.splice(i, 1)">cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list> -->
                                </div>
                                <button class="btn btn-success mt-3 float-right mb-4" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Promotion & Ads">
            <promotions></promotions>
        </mat-tab>
        <mat-tab label="Info">
            <div class="box my-3 mx-2">
                <div class="head p-3">
                    <h6 class="mb-0">Info</h6>
                </div>
                <div class="body p-3">
                    <app-info></app-info>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Rooms">
            <room-wrapper></room-wrapper>
        </mat-tab>
        <mat-tab label="Features">
            <app-features></app-features>
        </mat-tab>
        <mat-tab label="Upload">
            <upload></upload>
        </mat-tab>
    </mat-tab-group>
</ng-container>